* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #0d1b2a;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.active {
  color: #e0e1dd;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5em;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #1b263b;
}

.search-container input {
  all: unset;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  background-color: #0d1b2a;
}

#movie--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  column-gap: 5%;
  row-gap: 1rem;
}

.card {
  min-width: 220px;
  max-width: 220px;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card--image {
  height: 330px;
  width: 220px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.card--content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.card--title {
  font-weight: 700;
  height: 50px;
}

.card--footer {
}

.btn--review {
  padding: 0.5rem;
  background-color: #fcbf49;
  text-decoration: none;
  border-radius: 5px;
}

#movie--info {
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#movie--reviews {
  margin-top: 1rem;
  color: white;
  display: flex;
  gap: 1rem;
}
