* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.nav--img {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero--section {
  display: flex;
  flex-flow: column;
}

.hero--img {
  align-self: center;
  max-width: 50%;
}

.hero--title {
  font-size: 36px;
  line-height: 110%;
  margin-top: 32px;
  margin-bottom: 16px;
}

.card--section {
  display: flex;
  gap: 18px;
  max-width: inherit;
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  max-width: 180px;
  gap: 8px;
  font-size: 12px;
}

.card--img {
  max-width: 100%;
  border-radius: 9px;
}

.card--rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.card--rating > i {
  color: #FE395C;
}

.card--price {
  font-weight: bold;
}

.card--badge {
  position: absolute;
  margin-top: 6px;
  margin-left: 6px;
  background-color: #FE395C;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10px;
}

.gray-text {
  color: #918E9B; }